h1 {
    text-align: center;
    font-family: "Black And White Picture";
    background-color: purple;
    color: lightgreen;
    font-size: 75px;
    margin: 0px;
    width: 100%;
}

h2 {
    text-align: center;
    font-family: "Spicy Rice";
    margin-top: 0px;
    font-size: 50px;
    color: hotpink;
    background-color: white;
    margin-left: 335px;
    width: 43%;
}

h3 {
    float: left;
    text-align: center;
    font-family: "Spicy Rice";
}

#guess-left-text {
    padding: 0px 10px;
    margin-left: 400px;
    font-size: 35px;
    margin-top: 0px;
    background-color: white;
    color: hotpink;
}

#already-guessed {
    padding: 0px 10px;
    margin-left: 335px;
    font-size: 35px;
    margin-top: 0px;
    background-color: white;
    color: hotpink;
    margin-bottom: 0px;
}

h4 {
    float: left;
    font-family: "Spicy Rice";
}


#box {
    margin-top: 50px;
}

#wins-text {
    padding: 0px 10px;
    margin-left: 450px;
    font-size: 30px;
    background-color: white;
    color: hotpink;
}

#losses-text {
    padding: 0px 10px;
    margin-left: 20px;
    font-size: 30px;
    background-color: white;
    color: hotpink;
}

body {
    background-color: #90ee90;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='92' viewBox='0 0 112 92'%3E%3Cg fill='%23800080' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M72 10H40L16 20H0v8h16l24-14h32l24 14h16v-8H96L72 10zm0-8H40L16 4H0v8h16l24-6h32l24 6h16V4H96L72 2zm0 84H40l-24-6H0v8h16l24 2h32l24-2h16v-8H96l-24 6zm0-8H40L16 64H0v8h16l24 10h32l24-10h16v-8H96L72 78zm0-12H40L16 56H0v4h16l24 14h32l24-14h16v-4H96L72 66zm0-16H40l-24-2H0v4h16l24 6h32l24-6h16v-4H96l-24 2zm0-16H40l-24 6H0v4h16l24-2h32l24 2h16v-4H96l-24-6zm0-16H40L16 32H0v4h16l24-10h32l24 10h16v-4H96L72 18z'/%3E%3C/g%3E%3C/svg%3E");
margin: 0px;
}

img {
    margin-left: 390px;
}